extends layout

block content
  .headerfront
    .headerinside
      h1 Welcome to Heimdall
      p
        br
        | The place, where you will be able to write and read reviews for some of your favourite movies in the world. The Norse god, Heimdall, is known for his great vision and with that he will be showing you the world of movies. This way you will be able to learn lots of information about the movies that you are interested in.
        br
        br
        | You will be able to see scores from Heimdall's users, IMDB, Rotten Tomatoes and Metacritic, so you know if a movie is what you might consider watching in the near future.
        br
        br
        | To read reviews, you don't have to have an account, but to write them, you will be needing to make an account, where you will be able to customize the profile picture that you have in order to show other users who you are.
        br
        br
      .buttonStyle
        a(href='users/register') Sign up

  if (latestReviews)
    .latestReviews
      .latestReviewBox
        h2 Latest Reviews
          span.seemore
            a(href="/allreviews") See all reviews
        if(!latestReviews.length)
          .singularPreview
            .singularInfo
              p There are currently no reviews
        else
          for latest in latestReviews
            if latest.favourite
              .singularPreview.favourite
                .profilepic
                  if latest.ano
                    img(src=`https://res.cloudinary.com/simonkalmar/c_thumb,w_70,g_face/v1608121436/heimdall/default`)
                  else
                    for reviewer in users
                      if latest.reviewer == reviewer.name
                        if reviewer.image != undefined
                          img(src=`https://res.cloudinary.com/simonkalmar/c_fill,w_70,h_70,g_face/v1608121436/${reviewer.image}`)

                .singularInfo
                  h3 #{latest.reviewTitle}&nbsp;
                  | Review for&nbsp;
                  a(href=`/movie/${latest.imdbID}`) #{latest.name} (#{latest.year})
                  | &nbsp;written by&nbsp;
                  if latest.ano
                    | Anonymous User - #{latest.dateFormatted}
                  else
                    for reviewer in users
                      if latest.reviewer == reviewer.name
                        a(href=`/profile/${reviewer._id}`) #{reviewer.name}
                        | &nbsp;- #{latest.dateFormatted}
                  br
                  .stars
                    if (latest.score == 1)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 2)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 3)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 4)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 5)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      if latest.favourite
                    i(style="font-size: 12px; color: #749488") &nbsp;- A FAVOURITE
                  p #{latest.text}

                .box
                  img(src=`${latest.poster}`)
                br
                br

            else
              .singularPreview
                .profilepic
                  if latest.ano
                    img(src=`https://res.cloudinary.com/simonkalmar/c_thumb,w_70,g_face/v1608121436/heimdall/default`)
                  else
                    for reviewer in users
                      if latest.reviewer == reviewer.name
                        if reviewer.image != undefined
                          img(src=`https://res.cloudinary.com/simonkalmar/c_fill,w_70,h_70,g_face/v1608121436/${reviewer.image}`)
                .singularInfo
                  h3 #{latest.reviewTitle}&nbsp;
                  | Review for&nbsp;
                  a(href=`/movie/${latest.imdbID}`) #{latest.name} (#{latest.year})
                  | &nbsp;written by&nbsp;
                  if latest.ano
                    | Anonymous User - #{latest.dateFormatted}
                  else
                    for reviewer in users
                      if latest.reviewer == reviewer.name
                        a(href=`/profile/${reviewer._id}`) #{reviewer.name}
                        | &nbsp;- #{latest.dateFormatted}
                  .stars
                    if (latest.score == 1)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 2)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 3)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 4)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 5)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                  p #{latest.text}
                .box
                  img(src=`${latest.poster}`)
                br
                br
