extends layout

block content
  if response
    div.backgroundAround
      div#test

        div.flexybox
          img(src=`${response.Poster}`).posterpic
          .infobox
            div
              b.title #{response.Title} (#{response.Year})
              br
              span with #{response.Actors}.
              br
              br
              | #{response.Plot}
              br
              br
              b Released&nbsp;
              | #{response.Released}
              br
              b Runtime&nbsp;
              | #{response.Runtime}
              br
              b Genre&nbsp;
              | #{response.Genre}
              br
              b Director&nbsp;
              | #{response.Director}
              br
              b Writer&nbsp;
              | #{response.Writer}
              br
              b Languages&nbsp;
              | #{response.Language}
              br
              b Country&nbsp;
              | #{response.Country}
            .ratingsflex
              each ratings in response.Ratings
                - var rating = ratings.Value.replace('%', '');
                div
                  b #{ratings.Source}&nbsp;
                  | #{rating}
                  br
              div
                b User reviews&nbsp;
                if average
                  | #{average}/5 (#{latestReviews.length} reviews)
                else
                  | Currently no user reviews

  if user
    if alreadyReviewed
    else
      .writingReviewOuter
        .writingReviewOutIn
          h2 Enter your review
          h3 For #{response.Title}
          .writingReview
            form(action='/reviewsend' method='POST')
              .writingReviewInner
                label(for="reviewTitle") Give your review a title
                br
                input(type="text" name="reviewTitle")
                br
                br
                .ano
                  div
                    input#favourite(type='checkbox' name='favourite' value='true')
                    label(for='anonymousPost') Is this one of your favourites?
                  div
                    input#postAno(type='checkbox' name='anonymousPost' value='true')
                    label(for='anonymousPost') Post anonymously
                textarea(name='text' rows='8' cols='80' placeholder='What are your thoughts?' required=true)
                br
                .scorebox
                  input(type="radio" id="score1" name="score" value="5")
                  label(for='score1')
                    i.fas.fa-star
                  input(type="radio" id="score2" name="score" value="4")
                  label(for='score2')
                    i.fas.fa-star
                  input(type="radio" id="score3" name="score" value="3")
                  label(for='score3')
                    i.fas.fa-star
                  input(type="radio" id="score4" name="score" value="2")
                  label(for='score4')
                    i.fas.fa-star
                  input(type="radio" id="score5" name="score" value="1")
                  label(for='score5')
                    i.fas.fa-star
                  br
                  br
              .postReview
                input(type="hidden" name="name" value=`${response.Title}`)
                input(type="hidden" name="poster" value=`${response.Poster}`)
                input(type="hidden" name="year" value=`${response.Year}`)
                input(type="hidden" name="type" value=`${response.Type}`)
                input(type="hidden" name="reviewer" value=`${user.name}`)
                input(type="hidden" name="imdbID" value=`${response.imdbID}`)
                .buttonStyle
                  button(type='submit' name='button') Submit review
  else
    .writingReviewOuter
      .writingReviewOutIn
        h2 Login to submit a review
        .writingReview
          .writingReviewInner In order to submit a review, you will need to have an account on Heimdall.
            br
            | Please sign in&nbsp;
            a(href="/users/login") here
            br
            | Or create an account&nbsp;
            a(href="/users/register") here


  if (latestReviews)
    .latestReviews
      .latestReviewBox
        h2 Latest Reviews
          span.seemore
            a(href=`/${response.imdbID}/allreviews`) See all reviews
        if(!latestReviews.length)
          .singularPreview
            .singularInfo
              p There are currently no reviews
        else
          for latest in latestReviews
            if latest.favourite
              .singularPreview.favourite
                .profilepic
                  if latest.ano
                    img(src=`https://res.cloudinary.com/simonkalmar/c_thumb,w_70,g_face/v1608121436/heimdall/default`)
                  else
                    for reviewer in users
                      if latest.reviewer == reviewer.name
                        if reviewer.image != undefined
                          img(src=`https://res.cloudinary.com/simonkalmar/c_fill,w_70,h_70,g_face/v1608121436/${reviewer.image}`)

                .singularInfo
                  h3 #{latest.reviewTitle}&nbsp;
                  | Review for&nbsp;
                  a(href=`/movie/${latest.imdbID}`) #{latest.name} (#{latest.year})
                  | &nbsp;written by&nbsp;
                  if latest.ano
                    | Anonymous User - #{latest.dateFormatted}
                  else
                  for reviewer in users
                    if latest.reviewer == reviewer.name
                      a(href=`/profile/${reviewer._id}`) #{reviewer.name}
                      | &nbsp;- #{latest.dateFormatted}
                  br
                  .stars
                    if (latest.score == 1)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 2)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 3)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 4)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 5)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      if latest.favourite
                    i(style="font-size: 12px; color: #749488") &nbsp;- A FAVOURITE
                  p #{latest.text}

                .box
                  img(src=`${latest.poster}`)
                br
                br

            else
              .singularPreview
                .profilepic
                  if latest.ano
                    img(src=`https://res.cloudinary.com/simonkalmar/c_thumb,w_70,g_face/v1608121436/heimdall/default`)
                  else
                    for reviewer in users
                      if latest.reviewer == reviewer.name
                        if reviewer.image != undefined
                          img(src=`https://res.cloudinary.com/simonkalmar/c_fill,w_70,h_70,g_face/v1608121436/${reviewer.image}`)
                .singularInfo
                  h3 #{latest.reviewTitle}&nbsp;
                  | Review for&nbsp;
                  a(href=`/movie/${latest.imdbID}`) #{latest.name} (#{latest.year})
                  | &nbsp;written by&nbsp;
                  if latest.ano
                    | Anonymous User - #{latest.dateFormatted}
                  else
                    for reviewer in users
                      if latest.reviewer == reviewer.name
                        a(href=`/profile/${reviewer._id}`) #{reviewer.name}
                        | &nbsp;- #{latest.dateFormatted}
                  br
                  .stars
                    if (latest.score == 1)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 2)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 3)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 4)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #31474B")
                    else if (latest.score == 5)
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                      i(class="fas fa-star" style="color: #5CB79D")
                  p #{latest.text}
                .box
                  img(src=`${latest.poster}`)
                br
                br
