extends layout

block content
  if search
    div.backgroundAround
      each results in search

        each response in results
          if response.imdbID
            div#test

              div.flexybox
                div
                  b.title
                    a(href=`/${response.Type}/${response.imdbID}`) #{response.Title} (#{response.Year}) #{response.Type}
                img(src=`${response.Poster}`).posterpic
  form(action='/search' method='get')
    label(for='movieName') Movie:
    br
    input#movieName(type='text' name='ask')
    br
    br
    input(type='submit' value='Submit')
