extends layout

block content
  if search
    div.backgroundAround
      each results in search

        each response in results
          if response.imdbID
            div#test

              div.flexybox
                div
                  b.title
                    a(href=`/${response.Type}/${response.imdbID}`) #{response.Title} (#{response.Year})
                  br
                  span Click the title to view more information about this movie.
                img(src=`${response.Poster}`).posterpicsearch
            br
            br
